.container {
    border: 2px solid green;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    height: 450px;
}
h1 {
    text-align: center;
}

.hidden {
    display: none;
}

span {
    font-size: 2em;
}

.correct {
    color: green;
}
.false {
    color: indianred;
}