.container {
    border: 2px solid green;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    height: 450px;
}
h1 {
    text-align: center;
}

.container > div {
    opacity: 0%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    transition: opacity 1.5s;
}


.visible {
    opacity: 100%!important;
}

span {
    font-size: 2em;
}

.correct {
    color: green;
}
.false {
    color: indianred;
}